@import 'styles/index.sass'

.header
	min-height: 200px
	width: 100%
	background: $color-primary
	display: flex
	align-items: flex-end
	padding: 0 100px

	h2
		color: $color-white
		margin-bottom: 90px
		margin-left: -80px
		opacity: 0.9

.gameCanvas
	background: $color-primary
	max-height: 150px
	// max-width: 500px
	// border: 1px solid black
	// opacity